<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Server=192.168.0.102,1433;Database=Forecast2;Integrated security=SSPI;"/>
    <add key="DeductorString" value="&quot;C:\Program Files\BaseGroup\Deductor\Bin\DStudio.exe&quot;"/>
    <add key="ReportServer" value="http://mars:8080/ReportServer_SQL2008R2"/>
    <add key="TenderReport" value="/v/prog2par"/>
    <add key="TenderFactReport" value="/v/compare"/>
    <add key="TenderFactGrReport" value="/v/compare_gr"/>
  </appSettings>
</configuration>